<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".presentation.camera_verification.EktpVerificationCameraResultActivity"
            android:exported="false"
            android:theme="@style/BaseBebas" />
        <activity
            android:name=".presentation.camera_verification.EktpVerificationCameraActivity"
            android:exported="false"
            android:theme="@style/BaseBebas.Camera" />
        <activity
            android:name=".presentation.form_user.PrepareOnboardingActivity"
            android:exported="false"
            android:theme="@style/BaseBebas" />
        <activity
            android:name=".presentation.form_user.InputNikAndAccountNumberActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.email.EmailVerificationActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/BaseBebas"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.bankmas.my.id"
                    android:scheme="https" />
                <data
                    android:host="api.bankmas2.my.id"
                    android:path="/online-onboarding-service/verification/email"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.otp.OtpVerificationActivity"
            android:exported="false"
            android:theme="@style/BaseBebas"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.form_user.InputPhoneEmailActivity"
            android:exported="false"
            android:theme="@style/BaseBebas"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.welcome.TncActivity"
            android:exported="false"
            android:theme="@style/BaseBebas" />
        <activity
            android:name=".presentation.welcome.WelcomeOnboardingActivity"
            android:exported="false"
            android:theme="@style/BaseBebas" />
        <activity
            android:name=".presentation.splash.BebasSplashActivity"
            android:exported="false"
            android:theme="@style/BaseBebas" />
    </application>

</manifest>