<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".presentation.rtc.CallActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.rtc.ListRoomActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".presentation.ui.CustomTextFieldActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".presentation.example.ExampleActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="com.fadlurahmanf.mapp_example.EXAMPLE_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.biometric.BiometricActivity"
            android:exported="false" />
    </application>

</manifest>