<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <receiver
            android:name=".domain.receivers.MappNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.mapp_notification.ACTION_NOTIFICATION_SNOOZE" />
                <action android:name="com.fadlurahmanf.mapp_notification.ACTION_NOTIFICATION_REPLY" />
            </intent-filter>
        </receiver>
    </application>
</manifest>