<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".presentation.payment.TransferConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.favorite.FavoriteListActivity"
            android:exported="false"
            android:theme="@style/BaseBebas" />
    </application>

</manifest>